<!doctype html>
<html>
<head>
	<title>Tulpa birthdays and age</title>
	<link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/jdpicker.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.jdpicker.js"></script>
	<script src="/static/js/sha256.js"></script>
	<script src="/static/js/main.js"></script>
	<script>
	var data = {{{Tulpas}}}
	</script>
</head>
<body>
	<header>Tulpa birthday and age</header>
	<div id="container">
	Not in list? <a href="#" id="addTulpaLink">Add your tulpa</a><br />
	<div id="addTulpaPrompt" class="hidebar" style="display: none;">
		<form id="addTulpaForm" onsubmit="return false;">
		<input type="text" name="name" placeholder="Tulpa's name" />&nbsp;
		<input type="text" name="host" placeholder="Host's name" title="Please keep this identical to all your other tulpas. Everything allowed except for the '.' character" />&nbsp;
		<input type="text" name="date" placeholder="Birth date" class="jdpicker" style="width: 100px;" />&nbsp;
		<input type="password" name="secret" placeholder="Secret key" title="The secret key is used for editing or deleting the tulpa's data" /> <span class="dot" title="The secret key is used for editing or deleting the tulpa's data">(?)</span>
		<button id="addTulpaBtn">Submit</button></form>
	</div>
	<h2 class="hidebday">Happy Birthday to</h2>
	<ul class="hidebday" id="bday"></ul>

	<h2 class="hideim">Imminent Birthdays</h2>
	<ul class="hideim" id="imminent"></ul>

	<h2>All tulpas</h2>
	<div id="tulpas"></div>
	<footer>
		<p>Currently tracking {{{TulpaCount}}} tulpas from {{{HostCount}}} hosts - <a href="https://github.com/Hamcha/tulpabday">Source code is on Github!</a></p>
	</footer>
</body>
</html>
