@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

a, a:visited { color: #37f; }

header { text-align: center; font-size: 2em; font-weight: 300; }
footer { text-align: center; font-size: 0.9em; }